#helo {
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }
  
  #root::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }